@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.menu_bar {
    background-color: #9182c4d4;
    backdrop-filter: blur(5px);
    position: fixed;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    z-index: 10;
}

.logo {
    width: 175px;
    cursor: pointer;
    margin-left: -30px;
}

.menu_bar ul {
    list-style: none;
    display: flex;
}

.menu_bar ul li {
    padding: 10px 30px;
    position: relative;

}

.menu_bar ul li a {
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.menu_bar ul li a:hover {
  color: #9182c4;
  text-shadow: 0 0 5px #ffffff;
  cursor: pointer;
  transition: all 0.3s;
}

.dropdown_menu {
    display: none;
    z-index: 1;
}

.menu_bar ul li:hover .dropdown_menu {

    display: block;
    width: 160px;
    position: absolute;
    left: 0;
    top: 100%;
    background: rgba(73, 72, 72, 0.25);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.329);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.155);
    cursor: pointer;
}

.dropdown_menu ul {
    display: block;
    margin: 10px;
}


body, html {
    margin: 0;
    padding: 0;
    height: 88%;
}  
  .row{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background: rgba(139, 138, 138, 0.152);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.329);
    border-right: 3px solid rgba(255,255,255,0.2);
    border-bottom: 3px solid rgba(255,255,255,0.2);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.155);
    

  }
  .content {
    display: flex;
    align-items: center;
 
  }
.Container{
    display: flex;
    justify-content: center;
    width: 180px;
    height: 50px;
    margin: 20px;
}
.selcet_box{
    border:none;
    appearance: none;
    padding: 0 30px 0 15px;
    width: 100%;
    background-color: white;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;   
}
.btn{
    display:flex;
    text-decoration: none;
    justify-content: center;
    height: 50px;
    width: 180px;
    line-height: 50px;
    color: rgb(255, 255, 255);
    background-color: #a694dfd5;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    margin: 20px;
    letter-spacing: 1px;
}
.btn:hover{
    background-color: #846fc8;
    transition: 0.3s 
 }
 .slide-background {
  width: 100%;
  height: 110%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  animation: slide 200s infinite;
}

@keyframes slide {
  0%, 100% {
    background-image: url('img/h5.jpg'); /* Change 'image1.jpg' to your desired image */
  }
  15% {
    background-image: url('img/h7.jpg'); /* Change 'image2.jpg' to your desired image */
  }
  30% {
    background-image: url('img/h8.jpg'); /* Change 'image3.jpg' to your desired image */
  }
  45% {
    background-image: url('img/h9.jpg'); /* Change 'image4.jpg' to your desired image */
  }
  60% {
      background-image: url('img/h10.jpg'); /* Change 'image4.jpg' to your desired image */
    }
  70% {
      background-image: url('img/h11.jpg'); /* Change 'image4.jpg' to your desired image */
    }
  83% {
      background-image: url('img/h12.jpg'); /* Change 'image4.jpg' to your desired image */
    }
  93% {
      background-image: url('img/h13.jpg'); /* Change 'image4.jpg' to your desired image */
  }
}

/*---Feature---*/
#feature{
  width: 100%;
  padding: 50px 0;
  background-color:white; 
}
.titele_text{
  text-align: center;
  padding-bottom: 10px;
}
.titele_text h1{
  margin: auto;
  font-size: 35px;
  font-weight:bolder;
}
.card-continer{
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  align-items: center;
  justify-content: center;
}
.card{
  display:flex;
  height: 350px; /* 350 */
  margin: 50px;
  box-shadow: 5px 5pc 90px black;
  overflow: hidden;
  align-items:end;
}
.card-img{
  height: 340px; /* 350 */
  border-radius: 5px;
}
.intro{
  height: 50x;
  width: 510px;  /*623px*/
  padding: 15px;
  box-sizing: border-box;
  position: absolute;
  background: rgba(27, 27, 27, 0.5);
  color:aliceblue;
  text-align: center;
  font-size: 22px;
}  
.card:hover{
  cursor: pointer;
}
.card:hover .intro{
  height: 70px;
  background-color: rgba(0, 0, 0, 0.808);
  text-transform: uppercase;
  text-decoration: underline;
  transition: all 0.3s;
}
.card:hover .card-img{
  transform: scale(1.2);
}



.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:22px;
  color:#737373;
}
.footer-row
{
    margin:20px 5%;
    display: flex;
    flex-direction: row;
    gap: 5%;

}

.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-top: 20px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.foot
{
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
    justify-items: center;
}
.copyright-text
{
  margin:20px
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.instagram:hover
{
  background-color:#ea4c89
}
.social-icons a.whatsapp:hover
{
  background-color:#399f54
}
.social-icons a.github:hover
{
  background-color:#6e5494
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}