@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fcf8f8;
}

.menu_bar {
    background-color: #9182c4d4;
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0%;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    z-index: 10;
}

.logo {
    width: 175px;
    cursor: pointer;
    margin-left: -30px;
}

.menu_bar ul {
    list-style: none;
    display: flex;
}

.menu_bar ul li {
    padding: 10px 30px;
    position: relative;

}

.menu_bar ul li a {
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.menu_bar ul li a:hover {
  color: #9182c4;
  text-shadow: 0 0 5px #ffffff;
  cursor: pointer;
  transition: all 0.3s;
}

.dropdown_menu {
    display: none;
    z-index: 1;
}

.menu_bar ul li:hover .dropdown_menu {

    display: block;
    width: 160px;
    position: absolute;
    left: 0;
    top: 100%;
    background: rgba(73, 72, 72, 0.301);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.329);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.155);
    cursor: pointer;
}

.dropdown_menu ul {
    display: block;
    margin: 10px;
}

/*-------------------- body------------------------------- */
.container {
    max-width: 800px;
    margin: 8% auto 5%;
    padding: 20px;
    text-align: center;
  }
  .main-image-container {
    position: relative;
  }
  .main-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  .small-images {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  .small-image {
    width: 100px;
    height: auto;
    border: 1px solid #ddd;
    cursor: pointer;
  }
  .small-image:hover {
    border-color: #555;
  }
  .navigation-arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .navigation-arrow {
    cursor: pointer;
    font-size: 24px;
  }
  .product-info {
    display: flex;
    text-align: left;
  }
  .product-details {
    padding: 20px;
    font-size: 22px;
    
  }
  .pinfo{
    display: flex;
    padding: 5px 5px;
  }
  .Abold{
    font-weight: bold;
  }
  .icon{
    color: #073F33;
    font-size: 20px;
  }
  .price{
    font-size: 40px;
  }
  .bdt{
    font-size: 25px;
  }
.description{
  min-height: 40vh;
}
.paragraph {
    display: flex;
    overflow: hidden;
    max-height: 200px; /* Adjust as needed */
    width: 100%;
    text-align: left;
    font-size: 20px;
    margin: 30px;
    transition: max-height 0.3s ease; /* Smooth transition */
}

.show-more .paragraph {
    max-height: none;
}

.read-more-btn{
  font-size: 15px;
  color: #073F33;
  background: none;
  border: none;
  font-weight: bolder;
  color:rgb(2, 104, 65);
  text-align: left;
}
.read-less-btn {
    display: none;
}

  .price,
  .rtype,.area,
  .location {
    margin: 0 0 10px 0;
  }
  .property-info {
    min-height: 40vh;
  }
  .property-info h1{
    margin-bottom: 30px;
  }
  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .form-group {
    display: flex;
    margin: 10px;
    min-width: 47%;
    border-bottom: 1px solid #d3d0d0fd;
  
  }
  
  .form-group label {
    margin-right: 10px;
    text-align: left;
    width: 150px;
    color: black;
    font-size: 20px;
  }
  
  .form-group p{
    font-size: 18px;
    color: black;
    padding: 5px;
    font-weight: bold;
  }
  .property-info button {
    font-size: 15px;
    padding: 15px 25px;
    margin-top: 8%;
    border: none;
    border-radius: 18px;
    font-weight: bold;
    background-color:#9d71be; /* Change button background color as needed */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .property-info button:hover {
    background-color: #9182c4; /* Change button hover background color as needed */
  }
  .contact{
    min-height: 15vh;
  }
  .contact-no h2{
    color: #71a3be;
    margin: 20px;
  }
  .contact-no p{
    font-size: 20px;
    margin: 20px;
  }
  .call{
    background-color: #d4f5ed;
    padding: 8px;
    border-radius: 50px;
  }


/*-----------------------------------Footer-------------------------*/

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:22px;
  color:#737373;
  bottom: 0%; 
}
.footer-row
{
    margin:20px 5%;
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-top: 20px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.foot
{
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
    justify-items: center;
}
.copyright-text
{
  margin:20px
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.instagram:hover
{
  background-color:#ea4c89
}
.social-icons a.whatsapp:hover
{
  background-color:#399f54
}
.social-icons a.github:hover
{
  background-color:#6e5494
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}